@model crowd_knowledge_contribution.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}


<h2>@ViewBag.Title</h2>

<br />

<p>@Model.CategoryName</p>

@foreach (var article in ViewBag.articole)
{

    <div class="card">

        <div class="card-body">

            <h3 class="card-title alert-success py-3 px-3 rounded-2">@article.Title</h3>

            <div class="card-text">@Html.Raw(article.Content)</div>
            @*<div class="card-text">@article.Content</div>*@

            <div class="d-flex justify-content-between flex-row mt-5">

                <div><i class="bi bi-globe"></i> @article.Category.CategoryName</div>

                <a class="btn btn-success" href="/Articles/Show/@article.Id">Afisare articol</a>

                <span class="alert-success">@article.Date</span>

            </div>

        </div>

    </div>

    <br />
    <br />
}
<form method="post" action="/Categories/Delete/@Model.Id">

    <button class="btn btn-danger" type="submit">Sterge categoria</button>

</form>
<br />
<a class="btn alert-success" href="/Categories/Index/">Afisare lista categorii</a>

<br />
<hr />
<br />